@import '../styles/styles.css'; 

.footer {
  display: flex;
  flex-direction: column;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 140px;
    padding-right: 140px;
    gap: 80px;
    background-color: var(--primary);
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-line2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }


  .footer-icon{
    width: 30px;
    height: 30px;
    color: white;
    margin-left: 10px;
    vertical-align: middle;
  }

  .footer-line {
    border: 0;
    border-top: 1px solid #fff;
    margin: 15px 0;
    height: 1px;
    
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-links {
    display: flex;
    gap: 60px;
  }

  .footer-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  .right-link {
    margin-left: auto;

  }



  @media (max-width: 480px) {
    .footer {
      padding-left: 20px;
      padding-right: 20px;
      gap: 40px;
    }
  
    .footer-top {
      align-items: center; /* Center align content */
      text-align: center;  /* Center text alignment */
    }
  
    .footer-line2 {
      flex-direction: column;
      gap: 5px;
    }
  
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .left-links {
      gap: 20px; /* Reduce space between links */
    }
  
    .footer-link {
      font-size: 14px; /* Slightly smaller text */
    }
  
    .right-link {
      margin-left: 0; /* Remove extra margin */
    }
  }