@import '../styles/styles.css'; 

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px;
    background-color: var(--background-color);
  }

  .intro-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 50px; 
    font-weight: 600;
    color: var(--black);
  }

  .intro-text {
    display: flex;
    align-items: center;
    margin: 0 15px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }

  .icon{
    width: 50px;
  }

  .hero-banner2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
  }

  .experience{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
  }

  .right{
    display: flex;
    flex-direction: column;
  }

  .body-small{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }

  .body-medium2{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }
