@import '../styles/styles.css'; 

/* Container styling for the summary */
.summary {
    display: flex; 
    justify-content: space-between;
    padding: 60px 140px;
    align-items: flex-start; 
    gap: 16px; 
    background-color: var(--background-color);

}

.element {
    flex: 1; 
    max-width: 200px;
}




.summary-content {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    line-height: 1.5; /* Improve text readability */
}