@import '../styles/styles.css'; 

/* Container styling for the summary */
.summary-box{
    display: block;
    background-color: var(--background-color);
    justify-content: center;
}

.summary {
    display: flex; 
    /* justify-content: space-between; */
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 16px; 
    background-color: var(--background-color);
}

.element {
    flex: 1; 
    max-width: 200px;
}


/* @media (max-width: 1050px) {
    .header1 {
      font-size: 36px;
    }
    .header2{
      font-size: 30px;
    }
    .header4{
      font-size: 16px;
    }
  } */