@import '../styles/styles.css'; 

   .title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 20px;
    background-color: var(--background-color);
    overflow: hidden; /* Hide images outside the viewport */
    text-align: center;
    min-height: 500px;
    width: 100%; /* Ensure the container takes full width */
  }
  
  .title-content {
    max-width: 700px;
    z-index: 1;
    text-align: center; /* Center the text content */
  }
  
  /* Client logo styling */
  .client-logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  /* Images */
  .title-image {
    width: 400px;
    height: 500px;
    transform: translateY(-50%);
  }
  
  .title-image-left {
    position: absolute;
    left: -120px;/* Move left image further outside the viewport */
  }
  
  .title-image-right {
    position: absolute;
    right: -120px; /* Move right image further outside the viewport */
  }
  


  @media (max-width: 1200px) {
    .header1 {
      font-size: 40px;
    }
    .title-content {
      max-width: 400px;
    }
    .title-image-left {
      position: absolute;
      left: -180px;/* Move left image further outside the viewport */
    }
    
    .title-image-right {
      position: absolute;
      right: -180px; /* Move right image further outside the viewport */
    }
  }


  @media (max-width: 950px) {
    .header1 {
      font-size: 40px;
    }
    .title-image-left {
      position: absolute;
      left: -200px;/* Move left image further outside the viewport */
    }
    
    .title-image-right {
      position: absolute;
      right: -200px; /* Move right image further outside the viewport */
    }
  }

  @media (max-width: 768px) {
    .header1 {
      font-size: 32px;
    }
    .title-content {
      max-width: 400px;
    }
    .title-description {
      font-size: 1rem;
    }
    .title-image {
      width: 150px;
    }
  }
  