@import '../../styles/styles.css'; 


.content-block{
    padding: 80px 140px;
    background-color: var(--background-color);
}

.project-image{
    background-color: var(--background-color);
    text-align: center;
}

.project-image img{
    width: 100%;
}



@media (max-width: 768px) {
    .content-block {
        padding: 40px 20px; /* Reduced padding for smaller screens */
    }

    .project-image {
        max-width: none;
        box-sizing: border-box; 
    }
}